<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1.0, minimum-scale=1">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:url" content="https://www.<%= website %>/" />
    <meta property="og:image" content="/images/<%= imageReplacer %>">
    <title><%=title%></title>
    <link rel="icon" href="/images/<%=favicon%>" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Add the latest firebase dependecies from CDN -->
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <div class="row" style="width:100%;margin: 0;height: 48px">
            <div class="col-lg-3 col-6" >
                <a class="navbar-brand" href="/news"><img src="http://admin.<%= website %>/logo/<%= logo[0].path %>" alt="" style="height: 32px;margin-top: 10px"></a>
            </div>
            <div class="col-lg-5 col-2"></div>
            <div class="col-lg-4 col-4">
                <div class="row icons" style="text-align: center;overflow: hidden">
                    <div class="col-4">
                        <h5>
                            <a href="#career" data-bs-toggle="modal" style="text-decoration: none">
                                <i class="fas fa-user-tie"></i>&nbsp;&nbsp;<b id="carrer">संवादाता</b>
                            </a>

                        </h5>
                    </div>
                    <div class="col-4">
                        <h5>
                            <a href="/epaper" style="text-decoration: none">
                                <i class="far fa-newspaper"></i>&nbsp;&nbsp;<b id="epaper">ई-पेपर</b>
                            </a>
                        </h5>
                    </div>
                    <div class="col-4">
                        <%if(logged_in == 0){%>
                            <h5>
                                <a href="/login" style="text-decoration: none">
                                    <i class="fas fa-user-circle"></i>&nbsp;&nbsp;<b id="log-in">लॉग इन</b>
                                </a>
                            </h5>
                        <%} else {%>
                            <h5>
                                <a href="#user-menu" data-bs-toggle="modal" style="text-decoration: none;">
                                    <i class="fas fa-user-circle"></i>&nbsp;&nbsp;<b id="log-in">अकाउंट</b>
                                </a>
                            </h5>



                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="modal fade" id="user-menu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" onclick="window.location.href ='/user-profile'">
                        <a href="/user-profile" style="color: #1c1c1c">User Profile</a>
                    </li>
                    <li class="list-group-item" onclick="window.location.href ='/logout'">
                        <a href="/logout" style="color: #1c1c1c">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="career" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5);z-index: 9999999999">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">करियर</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6" style="text-align: center">
                        <a href="http://admin.<%= website %>/login" style="color: white" class="btn btn-primary">संवादाता लॉगिन</a>
                    </div>
                    <div class="col-6" style="text-align: center">
                        <a href="http://admin.<%= website %>/career" style="color: white" class="btn btn-danger">संवादाता  रजिस्टर  करें!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>
<main class="container">
    <div class="row">
        <div class="col-lg-2 col-4" style="text-align: center;overflow: hidden;display: flex;align-items: center;justify-content: center">
            <a href="#" style="color: white;background-color: #ED3237;padding: 10px 22px;border-radius: 50%;margin: 0;font-size: 40px;margin-top: 5px"><i class="fas fa-user"></i></a>
        </div>
        <div class="col-lg-9 col-6">
            <h4><%=user[0].full_name%></h4>
            <h6><%=user[0].phone%></h6>
            <h6><%=user[0].city%></h6>
        </div>
        <div class="col-lg-1 col-2">
            <a href="#edit-profile" data-bs-toggle="modal" style="color: #c2c2c2;font-size: 20px"><i class="fas fa-edit"></i></a>
            <div class="modal fade" id="edit-profile" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5)">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/edit-profile/<%=user[0].user_id%>" method="post">
                                <div class="form-group">
                                    <input type="text" name="full_name" id="" class="form-control" value="<%=user[0].full_name%>" required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="tel" name="phone" id="" class="form-control" value="<%=user[0].phone%>" maxlength="13" minlength="10" readonly>
                                </div>
                                <br>
                                <div class="form-group"  style="text-align: left">
                                    <select class="form-control" name="state" id="state">
                                        <option>Select State</option>
                                        <% for(var i=0;i<states.length;i++){ %>
                                            <option value="<%= states[i].name %>"><%= states[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <br>
                                <div class="form-group"  style="text-align: left">
                                    <select class="form-control" name="city" id="city">
                                        <option value="<%=user[0].city%>"><%= user[0].city %></option>
                                    </select>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary" style="background-color: #ED3237;border: 0;width: 100%">
                                    Save
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" style="text-align: left;">
        <%if(user_post.length == 0){%>
            <h5 style="text-align: center">आपने अभी तक कुछ भी पोस्ट नहीं किया है</h5>
            <br><br>
            <a href="#select-category" data-bs-toggle="modal" class="btn btn-primary" style="background-color: #ED3237;color: white;border: 0;width: 50%;margin: auto;font-size: 22px"> <i class="fas fa-plus-circle"></i> पोस्ट करें</a>
        <%} else {%>
        <%for(var i=0;i<user_post.length;i++){%>
            <%var a = user_post[i].created_at;%>
            <%var d = new Date();%>
            <%if(d.toString().slice(4,10)==a.toString().slice(4,10)){%>
                <%var date = 'Today';%>
            <%} else {%>
                <%var date = a.toString().slice(4,10);%>
            <%}%>
            <div class="col-lg-3 col-6">
                <div class="card" style="background-color: white;width: 100%;margin-top: 10px;border: 2px solid lightgrey;border-radius: 10px;">
                    <div style="height: 120px;width: 100%;text-align: center;overflow: hidden;padding: 10px;margin: auto" onclick="window.location.href = '/each-post/<%=user_post[i].id%>'">
                        <img src="/directory_images/<%=user_post[i].id%>/<%=user_post[i].path%>" alt="Card image cap" style="max-height: 100%;max-width: 100%">
                    </div>
                    <div class="card-body" style="padding: 5px 10px;" onclick="window.location.href = '/each-post/<%=user_post[i].id%>'">
                        <h5 class="card-title" style="text-align: center"><b>Rs <%=user_post[i].price%></b></h5>
                        <p style="font-size:14px;margin: 0px;text-align: left"><%=user_post[i].ad_title%></p>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-8 col-12">
                                <p style="font-size: 10px;text-align: left;margin: 0"><%=user_post[i].address%></p>
                            </div>
                            <div class="col-md-4 col-12" style="">
                                <p style="font-size: 10px;margin: 0;text-align: right"><%=date%></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 5px">
                        <div class="col-12" style="text-align: right">
                            <a href="/edit-post/<%=user_post[i].id%>" class="btn btn-primary" style="border-radius: 50%;font-size: 15px;padding: 5px 9px"><i class="fas fa-pen"></i></a>
                            <a href="#delete<%=i%>" data-bs-toggle="modal" class="btn btn-danger" style="border-radius: 50%;font-size: 15px;padding: 5px 9px"><i class="fas fa-trash"></i></a>
                            <div class="modal fade" id="delete<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5)">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="/delete-post/<%=user_post[i].id%>" class="btn btn-primary" style="background-color: #ED3237;border: 0;width: 100%">Yes</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="#" class="btn btn-primary" style="color: #ED3237;border: 0;width: 100%;background-color: #eaeaea" data-bs-dismiss="modal">No</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
        <%}%>
    </div>
</main>
<br><br><br>
<%if(logged_in == 0){%>
    <a href="#select-category-login" data-bs-toggle="modal" class="btn btn-primary" id="sell"> <i class="fas fa-plus-circle"></i> <span id="sell-text">Sell</span></a>
    <div class="modal fade" id="select-category-login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5)">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Login First</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <a href="/login" class="btn btn-primary" style="background-color: #ED3237;border: 0;width: 100%">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%} else {%>
    <a href="#select-category" data-bs-toggle="modal" class="btn btn-primary" id="sell"> <i class="fas fa-plus-circle"></i> <span id="sell-text">Sell</span></a>
    <div class="modal fade" id="select-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5)">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <% for(var i=0;i<dcategory.length;i++){ %>
                            <li class="list-group-item" onclick="window.location.href ='/posts/<%= dcategory[i].name%>'">
                                <a href="/posts/<%= dcategory[i].name%>" style="color: #1c1c1c"><%= dcategory[i].name%></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<%}%>

<footer>
    <div class="row">
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/news" class="de-active"><i class="fas fa-home"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/news" class="de-active">होम</a></b></h6>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/search" class="de-active"><i class="fas fa-search"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/search" class="de-active">सर्च</a></b></h6>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/videos" class="de-active"><i class="fas fa-play-circle"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/videos" class="de-active">वीडियो</a></b></h6>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/directory" class="active"><i class="fas fa-folder"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/directory" class="active">वर्गीकृत</a></b></h6>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script>
    $('#state').change(function(){
        var a = document.getElementById('state').value;
        var select = document.getElementById("city");
        var length = select.options.length;
        for (var i = length-1; i >= 0; i--) {
            select.options[i] = null;
        }
        $.ajax({
            url:"http://<%= website %>/getCity/" + a,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                var b = data;
                for(var i=0;i<b.length;i++){
                    var option = document.createElement("option");
                    option.text = b[i].name;
                    option.value= b[i].name;
                    select.add(option);
                }
            },
            error: function(err){
                console.log(err.status);
            }
        });
    });
    $(document).ready(function (){
        $("img").bind("error",function(){
            // Replacing image source
            $(this).attr("src","/images/<%= imageReplacer %>");
        });
    });
</script>
<%- include('../navigation/footer') %>