<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1">
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:url" content="https://www.<%= website %>/" />
    <meta property="og:image" content="/images/<%= imageReplacer %>">
    <title><%=title%></title>
    <link rel="icon" href="/images/<%=favicon%>" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        body{
            background-color: #fafafa;
        }
        .c1{
            background-color: white;
            padding: 0;
            width: 30%;
            text-align: center;
            border: 1px solid #eeeeee;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        .c1 .card {
            border: 0;
            border-radius: 5px 5px 0px 0px;
            padding: 10px 10px 0px 10px;
            text-align: left;
            font-size: 20px;
            background-color: #ED3237;
            color: white;
        }
        .c1 .form-group{
            padding: 10px;
        }
        .c1 .btn{
            width: 100%;
            background-color: #ED3237;
        }
        @media screen and (max-width: 768px) {
            body{
                background-color: white;
            }
            .c1 {
                background-color: white;
                padding: 0;
                width: 100%;
                text-align: center;
                border-radius: 0;
                box-shadow: 0px 0px 10px rgba(0,0,0,0);
                border: 0;
            }
            .c1 .card{
                border-radius: 0;
                display: none;
            }
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="row" style="width:100%;margin: 0;height: 48px">
            <div class="col-lg-3 col-6" >
                <a class="navbar-brand" href="/news"><img src="http://admin.<%= website %>/logo/<%= logo[0].path %>" alt="" style="height: 32px;margin-top: 10px"></a>
            </div>
            <div class="col-lg-5 col-2"></div>
            <div class="col-lg-4 col-4">
                <div class="row icons" style="text-align: center;overflow: hidden">
                    <div class="col-4">
                        <h5>
                            <a href="#career" data-bs-toggle="modal" style="text-decoration: none">
                                <i class="fas fa-user-tie"></i>&nbsp;&nbsp;<b id="carrer">संवादाता</b>
                            </a>

                        </h5>
                    </div>
                    <div class="col-4">
                        <h5>
                            <a href="/epaper" style="text-decoration: none">
                                <i class="far fa-newspaper"></i>&nbsp;&nbsp;<b id="epaper">ई-पेपर</b>
                            </a>
                        </h5>
                    </div>
                    <div class="col-4">
                        <h5>
                            <a href="/login" style="text-decoration: none;color: black">
                                <i class="fas fa-user-circle"></i>&nbsp;&nbsp;<b id="log-in">लॉग इन</b>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="modal fade" id="career" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5);z-index: 9999999999">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">करियर</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6" style="text-align: center">
                        <a href="http://admin.<%= website %>/login" style="color: white" class="btn btn-primary">संवादाता लॉगिन</a>
                    </div>
                    <div class="col-6" style="text-align: center">
                        <a href="http://admin.<%= website %>/career" style="color: white" class="btn btn-danger">संवादाता  रजिस्टर  करें!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div class="container c1" style="">

    <div class="card">
        <p>USER LOGIN</p>
    </div>

    <div class="form-group"  style="text-align: left">
        <label for="">Full Name</label>
        <input type="text" class="form-control" id="full_name" style="" placeholder="Enter Your Full Name"/>
    </div>
    <div class="form-group"  style="text-align: left">
        <label for="" >State</label>
        <select class="form-control" name="state" id="state">
            <option>Select State</option>
            <% for(var i=0;i<states.length;i++){ %>
                <option value="<%= states[i].name %>"><%= states[i].name %></option>
            <% } %>
        </select>
    </div>
    <div class="form-group"  style="text-align: left">
        <label for="" >City</label>
        <select class="form-control" name="city" id="city">
            <option>Select City</option>
        </select>
    </div>
    <div class="form-group"  style="text-align: left">
        <label for="" >Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" style="" placeholder="Enter Phone Number" maxlength="13" minlength="10"/>
        <br>
        <button id="sign-in-button" class="btn btn-primary" style="border: 0;" onclick="submitPhoneNumberAuth()">
            Login
        </button>
    </div>
    <div class="form-group"  style="text-align: left">
        <input type="text" class="form-control" id="code" style="display: none" placeholder="Enter OTP"/>
        <br>
        <button id="confirm-code" class="btn btn-primary" style="border: 0;display: none" onclick="submitPhoneNumberAuthCode()">
            Submit
        </button>
    </div>
    <!-- Add a container for reCaptcha -->
    <div id="recaptcha-container" style="display: none"></div>
</div>




<footer>
    <div class="row">
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/news" class="de-active"><i class="fas fa-home"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/news" class="de-active">होम</a></b></h6>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/search" class="de-active"><i class="fas fa-search"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/search" class="de-active">सर्च</a></b></h6>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/videos" class="de-active"><i class="fas fa-play-circle"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/videos" class="de-active">वीडियो</a></b></h6>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="footer-ul">
                <li>
                    <h4><a href="/directory" class="de-active"><i class="fas fa-folder"></i></a></h4>
                </li>
                <li>
                    <h6><b><a href="/directory" class="de-active">वर्गीकृत</a></b></h6>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!--Bootstrap links-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!---->

<!-- Add the latest firebase dependecies from CDN -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-analytics.js"></script>
<!--<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>-->
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyD_jy1ewzGvFcpk7kwwZycKnYgd696Q-LE",
        authDomain: "popularapp-9d854.firebaseapp.com",
        projectId: "popularapp-9d854",
        storageBucket: "popularapp-9d854.appspot.com",
        messagingSenderId: "966900184552",
        appId: "1:966900184552:web:409a4b392c91e200f6a05d",
        measurementId: "G-EJ4G2XEP0T"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // Create a Recaptcha verifier instance globally
    // Calls submitPhoneNumberAuth() when the captcha is verified
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
        "recaptcha-container",
        {
            size: "invisible",
            callback: function(response) {
                submitPhoneNumberAuth();
            }
        }
    );

    // This function runs when the 'sign-in-button' is clicked
    // Takes the value from the 'phoneNumber' input and sends SMS to that phone number
    function submitPhoneNumberAuth() {
        var phoneNumber = document.getElementById("phoneNumber").value;
        var appVerifier = window.recaptchaVerifier;
        var a;
        if(phoneNumber.slice(0,3) == '+91'){
            a = phoneNumber;
        } else {
            a = '+91' + phoneNumber;
        }
        firebase
            .auth()
            .signInWithPhoneNumber(a, appVerifier)
            .then(function(confirmationResult) {
                window.confirmationResult = confirmationResult;
                document.getElementById('sign-in-button').style.display="none";
                document.getElementById('code').style.display="block";
                document.getElementById('confirm-code').style.display="block";
            })
            .catch(function(error) {
                console.log(error);
            });
    }

    // This function runs when the 'confirm-code' button is clicked
    // Takes the value from the 'code' input and submits the code to verify the phone number
    // Return a user object if the authentication was successful, and auth is complete
    function submitPhoneNumberAuthCode() {
        var code = document.getElementById("code").value;
        confirmationResult
            .confirm(code)
            .then(function(result) {
                var user = result.user;
                console.log(user);
                var full_name = document.getElementById('full_name').value;
                console.log(full_name);
                var city = document.getElementById('city').value;
                if(full_name != '') {
                    window.location.href = '/user-login/' + user.phoneNumber + '/' + user.uid + '/' + full_name + '/' + city;
                }
            })
            .catch(function(error) {
                console.log(error);
            });
    }

    //facebook login
    // var provider = new firebase.auth.FacebookAuthProvider();
    // firebase
    //     .auth()
    //     .signInWithPopup(provider)
    //     .then((result) => {
    //         /** @type {firebase.auth.OAuthCredential} */
    //         var credential = result.credential;
    //
    //         // The signed-in user info.
    //         var user = result.user;
    //
    //         // This gives you a Facebook Access Token. You can use it to access the Facebook API.
    //         var accessToken = credential.accessToken;
    //
    //         // ...
    //     })
    //     .catch((error) => {
    //         // Handle Errors here.
    //         var errorCode = error.code;
    //         var errorMessage = error.message;
    //         // The email of the user's account used.
    //         var email = error.email;
    //         // The firebase.auth.AuthCredential type that was used.
    //         var credential = error.credential;
    //
    //         // ...
    //     });
    // firebase.auth().signInWithRedirect(provider);
    // firebase.auth()
    //     .getRedirectResult()
    //     .then((result) => {
    //         if (result.credential) {
    //             // /** @type {firebase.auth.OAuthCredential} */
    //             var credential = result.credential;
    //
    //             // This gives you a Facebook Access Token. You can use it to access the Facebook API.
    //             var token = credential.accessToken;
    //             // ...
    //         }
    //         // The signed-in user info.
    //         var user = result.user;
    //     }).catch((error) => {
    //     // Handle Errors here.
    //     var errorCode = error.code;
    //     var errorMessage = error.message;
    //     // The email of the user's account used.
    //     var email = error.email;
    //     // The firebase.auth.AuthCredential type that was used.
    //     var credential = error.credential;
    //     // ...
    // });

    // //This function runs everytime the auth state changes. Use to verify if the user is logged in
    // firebase.auth().onAuthStateChanged(function(user) {
    //     if (user) {
    //         console.log(user);
    //         var full_name = document.getElementById('full_name').value;
    //         console.log(full_name);
    //         var city = document.getElementById('city').value;
    //         if(full_name != ''){
    //             window.location.href = '/user-login/' + user.phoneNumber + '/' + user.uid + '/' + full_name + '/' + city;
    //         }
    //         console.log("USER LOGGED IN");
    //     } else {
    //         // No user is signed in.
    //         console.log("USER NOT LOGGED IN");
    //     }
    // });

    $('#state').change(function(){
        var a = document.getElementById('state').value;
        var select = document.getElementById("city");
        var length = select.options.length;
        for (var i = length-1; i >= 0; i--) {
            select.options[i] = null;
        }
        $.ajax({
            url:"http://<%= website %>/getCity/" + a,
            dataType: "jsonp",
            type:"GET",
            success: function(data){
                var b = data;
                for(var i=0;i<b.length;i++){
                    var option = document.createElement("option");
                    option.text = b[i].name;
                    option.value= b[i].name;
                    select.add(option);
                }
            },
            error: function(err){
                console.log(err.status);
            }
        });
    });
</script>
</body>
</html>